body, html{
    height: 100%;
    width: 100%;
}
  
a{
  color:white;
}

a:hover{
  color:white;
  text-decoration: none;
}

.bg{
    background-image: url(https://i.pinimg.com/originals/4a/ab/59/4aab5983bfbfabbcfcd3bb81566f19a6.jpg);
    color: white;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

h1{
    
    font-family: arial;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    text-transform: capitalize;
}

#menu{
    padding: 10px;
    list-style-type: none;
    text-transform: uppercase; 
}

.menu-items{
    padding: 10px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.menu-items:hover{
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 9px;
}

#content{
    background-color: white;
    color: black;
    opacity: 0.8;
    border-radius: 10px;
    height: 50%;
    text-align: center;
    overflow: scroll;
}

p{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

h2{
  padding:15%;
  font-style: italic;
  font-family: georgia;
  color: black;
  opacity: 0.8;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -13%;
    top: 150%;
    background-color: #12045A;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border: 1px solid white;
    
}

.dropdown-content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown-content {
  display: block;
}
